/* .green {
background-color: green;
}

.red {
background-color: red;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , Arial, sans-serif;
}

body {
  color: #fff;
  width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.Judul {
    padding-top: 30px;
}

.Judul a{
    text-decoration: none;
}

.Judul h1 {
    font-size: 1.7em;
    margin: 0;
    color: white;
}

.Judul h2 {
    font-size: 0.8em;
    margin: 0;
    color: rgb(255, 122, 73);
}


/* Nav */
nav {
    display: flex;
    gap: 20px;
    float: right;
    margin-top: -40px;
}


nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1em;
    padding: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px);
}

.navItemActive {
    color: orangered;
}

.navItemActive:hover {
    color: rgb(255, 255, 255);
}

.top-bar {
    position: relative;
    background-image: url("images/pemandangan1.jpg");
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1050px;
    width: 100vw;
    margin: 0;
    padding: 0;
}



/* Hero */

.hero {
    width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
}

.hero .hero-text h1 {
    font-size: 3.5em;
    color: whitesmoke;
    max-width: 700px;
    margin-top: 10px;
}

.hero .hero-text .welcome {
    padding-top: 10px;
    font-size: 1.5em;
    color: #ff693c;
    font-family: cursive;
    font-style: italic;
}

.hero .hero-text .bottom-text {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.category-bar {
    display: inline-block;
}

.play-btn {
  position: absolute;
  right: 420px;
  top: 50%;
  background: #fff;
  color: #bb3306;
  font-size: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-btn a{
    font-size: 1.5em;
    color: #bb3306;
    text-decoration: none;
}


/* Search Tab */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 320px;
}

.search-tabs {
    display: flex;
    gap: 5px;
}

.search-tabs .tab {
    padding: 12px 30px;
    border: none;
    background: rgb(255, 111, 58);
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.1em;
}
.search-tabs .tab.active {
    background: white;
    color: rgb(105, 105, 105);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* Search Form */
.search-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    border-radius: 0 0 6px 6px;
    background-color: white;
    max-width: 1100px;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    margin-top: 0;
}

.search-form .form-group {
    display: flex;
    flex-direction: column;
}

.search-form label {
    font-size: 1.1em;
    font-weight: 600;
    color: #ff4a17;
    margin-bottom: 5px;
}

.search-form input, .search-form select{
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
}

.search-btn {
    background: #ff4a17;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
    font-size: 1.1em;
}

.search-btn:hover {
    background: #963900;
}

.select-form{
    color: black;
}


.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
  margin:auto;
}

.service-card {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px 20px 20px;
  border-radius: 8px;
  position: relative;
  min-height: 200px;
  margin: auto;
}

.icon-box {
  position: absolute;
  top: -10px; 
  left: 0px;
  background: orange;
  color: #fff;
  font-size: 28px;
  padding: 10px 14px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.service-card:nth-child(1) {
  background: url("images/river.jpg") no-repeat center/cover;
  width: 240px;
  height: 300px;
}
.service-card:nth-child(2) {
  background: url("images/river2.jpg") no-repeat center/cover;
  width: 240px;
  height: 300px;
}
.service-card:nth-child(3) {
  background: url("images/tourguide.jpg") no-repeat center/cover;
  width: 240px;
  height: 300px;
}
.service-card:nth-child(4) {
  background: url("images/locationmanager.jpeg") no-repeat center/cover;
  width: 240px;
  height: 300px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.5;
}

.satuan{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  color: white;
}


.about-left {
    margin:auto;
}

.about-left p {
    color: gray;
    font-size: 1.2em;
}

.about-left h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin: 20px 0;
    color: rgb(57, 57, 57);
}

.about-left .searchBtn {
    background: #ff5722;
    border: none;
    padding: 18px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.about-left .searchBtn:hover {
    background: #e64a19;
}

.about-left .welcome{
    color: orange;
    font-size: 1.5em;
    font-family: cursive;
}



.selectDestination h2{
    color: #e64a19;
}

.selectDestination h1{
    color: white;
}

.selectDestination {
    text-align: center;
    padding: 50px 0;
    background: rgb(242, 242, 242);
    margin-top: 170px;
}

.transition.myTransition{
    margin-top: 50px;
}

.transition-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.selectDestination h2 {
    font-family: cursive;
    color: #e85d04;
    margin-bottom: 10px;
    margin-top: 50px;
}

.selectDestination h1 {
    font-size: 2.7em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(72, 72, 72);
}

.transition {
    width: 80%;
    margin: auto;
}

.myTransition{
    position: relative;
    padding-bottom: 50px;
}

.card {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 320px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #e85d04;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 14px;
    width: 100px;
}

.card .tours {
    position: absolute;
    bottom: 50px;
    right: -10px;
    background: #e85d04;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    width: 70px;
    transition: all 0.2s ease-in-out;
}

.card:hover .tours{
  width: 90px;
}


.tourDestination {
    padding-top: 100px;
}

.tourContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 200px;
    max-width: 1100px;
    margin: 0 auto;
}

.tourDestination h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2.7em;
    color: rgb(72, 72, 72);
}

.tourDestination h2{
    color: #e85d04;
    text-align: center;
}

.tourGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.tourPhoto img {
    object-fit: cover;
    height: 300px;
    width: 350px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.tourCard {
    position: relative;
}

.tourCard h3{
    position: absolute;
    top: -10px;
    left: 20px;
    background: #ff6200;
    color: white;
    font-size: 1.1em;
    width: 100px;
    padding: 10px;
    width: auto;
}

.tourItem {
    position: relative;
}

.tourDetails {
    position: absolute;
    bottom: -120px;
    right: 6%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 310px;
    height: 150px;
    padding: 15px;
    gap: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}

.tourDetails:hover {
    height: 160px;
}

.tourDetails .daysTour {
    color: #e85d04;
    font-weight: bold;
}

.tourDetails .tourName{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
}

.tourDetails .locationDetails {
    color: gray;
}

.tourDetails .tourInfo {
    color: gray;
    gap: 5px;
}


/* ini about us */

.aboutUs {
    position: relative;
    margin-top: 300px;
    padding-bottom: 800px;
}

.aboutWallpaper img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.play-btn2 {
    position: absolute;
    top: 40%;
    left: 47%;
    background: #fff;
    color: #bb3306;
    font-size: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-btn2 a{
    font-size: 1.5em;
    text-decoration: none;
    color: #bb3306;
}

.aboutContainer {
    position: relative;
}

.aboutColumns {
    max-width: 1100px;
    margin: 0 auto;
}

.aboutPhotoContainer {
    position: absolute;
    top: 450px;
    left: 20%;
}

.aboutPhotoContainer img {
    padding: 15px;
    background-color: white;
    height: 700px;
    width: 550px;
    object-fit: cover;
    background-position: center;
}

.aboutText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-col2 {
    float: left;
}

.right-col2 {
    float: right;
    margin-left: 700px;
    margin-top: 100px;
}

.right-col2 p {
    font-size: 1.1em;
    color: rgb(168, 168, 168);
}

.right-col2 h2{
    color: #e85d04;
    font-size: 1.7em;
}

.right-col2 h1{
    font-size: 2.5em;
    color: rgb(43, 43, 43);
    width: 500px;
    margin-top: -20px;
}

.right-col2 button {
    background-color: #fa6000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    width: 200px;
    cursor: pointer;
    transition: 0.2s ease;
}

.right-col2 button:hover {
    background-color: #963900;
}

.touristFeedback{
    background-image: url("images/village.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.touristFeedback h2{
    text-align: center;
    padding-top: 100px;
    color: white;
}

.touristFeedback h1{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 2.5em;
}

.reviewBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    gap: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.reviewBox .stars {
    color: rgb(255, 94, 0);
    font-size: 1.4em;
}

.reviewBox .reviewText {
    color: gray;
    max-width: 300px;
    font-size: 1.1em;
    font-weight: 400;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviewerInfo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.reviewer .reviewerName {
    font-size: 1.2em;
    font-weight: 500;
    color: black;
}

.reviewer .reviewerPosition {
    color: rgb(255, 94, 0);
}

.reviewer img {
    height: 80px;
    width: 80px;
    border-radius: 80%;
    border-top-left-radius: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    object-fit: cover;
}

.reviews {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.ourBlog{
    margin-top: 150px;
}

.ourBlog h2{
    color: #e85d04;
    text-align: center;
}

.ourBlog h1{
    font-size: 2.5em;
    margin-top: 25px;
    color: black;
    text-align: center;
}

.blogCard {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
}

.blogPost {
    margin-top: 50px;
}

.date p, .date h3{
    color: white;
}

.date h3 {
    font-size: 2.5em;
    font-weight: 200;
}

.date {
    position: absolute;
    display: flex;
    background-color: #fa6000;
    width: 120px;
    height: auto;
    gap: 15px;
    padding: 2px;
    top: -10px;
    left: 15px;
    justify-content: center;
}

.month {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogCard img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.blogTitle {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    bottom: -60px;
    background-color: white;
    width: 300px;
    height: 110px;
    left: 5%;
    gap: 15px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.blogTitle p {
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
}

.blogTitle button {
    border: none;
    background-color: #fa6000;
    color: white;
    padding: 7px;
    font-size: 1.05em;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 0.2s ease;
}

.blogTitle button:hover {
    background-color: #963900;
}

.blogContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.contactUs {
    margin-top: 250px;
    padding-bottom: 150px;
}

.contactContainer p {
    position: absolute;
    color: white;
    left: 26%;
    top: 40%;
    font-size: 1.2em;
    text-align: center;
}

.contactContainer h1 {
    position: absolute;
    color: white;
    left: 26%;
    top: 20%;
    font-size: 1.8em;
    text-align: center;
}

.contactContainer {
    position: relative;
    object-fit: cover;
    height: 250px;
}

.contactContainer img {
    width: 1100px;
    height: 250px;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 0;
}

.contactContainer button {
    position: absolute;
    border: none;
    color: white;
    background-color: #fa6000;
    font-size: 1em;
    padding: 20px;
    border-radius: 7px;
    left: 42%;
    top: 60%;
    cursor: pointer;
    transition: 0.2s ease;
}

.contactContainer button:hover {
    background-color: #963900;
}

.contactContainer h1,
.contactContainer p,
.contactContainer button {
    z-index: 1;
}

/* footer */
.site-footer {
    background-color:white; 
    padding: 70px 0 20px 0; 
    font-size: 15px;
    color: #d2d1d1;
    position: relative;
    background-image: url(images/greyandwhite.jpeg); /* Ganti gambar latar footer */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-position: top;
}

.footer-content {
    width: 80%;
    margin: 0 auto; 
}


.footer-columns {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
    margin-bottom: 50px;
}

.footer-column {
    flex: 1; 
    border-right: 1px solid #ddd; 
    padding-right: 40px; 
}

.footer-column.about-column {
    color: black;
    flex: 1.5;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
}

.footer-column p {
    line-height: 1.7; 
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul a {
    text-decoration: none;
    color: #d2d1d1;
    transition: color 0.3s ease;
}

.footer-column ul a:hover {
    color: #ff0000; 
}

.footer-column ul li a{
  color: black;
}

.footer-column ul li span{
  color: black;
}

/* Ikon Sosial Media */
.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-color: #f39c12;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); 
}


/* Info Kontak */
.contact-info li {
    display: flex;
    align-items: flex-start; 
}

.contact-info li img {
    width: 25px; 
    margin-right: 15px; 
    margin-top: 4px; 
}

/* Baris Copyright */
.footer-bottom {
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #ddd;
}

.footer-bottom p{
  color: black;
}
